<%= render 'shared/errors', obj: @link %>
<% if @link.errors.any? %>
  <h2>Preventing errors</h2>
  <ul>
    <% @link.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with  scope: :link, url: links_path, local: true do |f|%>
  <p>
      <%= f.label :link %></br>
    <%= f.text_field :link %>
  </p>
  <p>
      <%= f.label :description %></br>
    <%= f.text_area :description %>
  </p>
  <p>
      <%= f.label :category %></br>
    <%= f.collection_select :category_ids, Category.all, :id, :name,
                            { prompt: "Make your selection from the list(can be empty)" },
                            { multiple: true, size: 4, class: "select " } %>
  </p>



  <p><%=f.submit %></p>
<%end%>

<%= link_to 'Return to links list', links_path%>