<div class="card text-center">
  <div class="card-header">
    Featured
  </div>
  <% @links.each do |link| %>
    <div class="card-body">
      <% if link.user %>
      by <%= link_to link.user.username, user_path(link.user)%>
      <% end %>
      <%= link.link %>
      <h5 class="card-title"><%= link.description %></h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
     <%= link_to 'Show', link_path(link), class: "btn btn-primary" %>
      <% if logged_in? && (link.user == current_user || current_user.admin?) %>
        <%= link_to 'Edit', edit_link_path(link), class: "btn btn-primary" %>
        <%= button_to 'Delete', link, :confirm => "Are you sure?", method: :delete , class: "btn btn-primary" %>
      <% end %>
    </div>
    <div class="card-footer text-muted"><%= time_ago_in_words(link.created_at) %> ago</div>
  <% end %>

</div>