<h1 class="text-center mt-4">Links index page</h1>

<table class="table">
  <thead>
  <tr>
    <th scope="col">Link</th>
    <th scope="col" >Description</th>
    <th scope="col" colspan="3">Actions</th>
  </tr>
  </thead>
  <tbody class="table-group-divider">
  <% @links.each do |link| %>

    <tr>

      <td><%= link.link %>  by <%= link.user.username if link.user %></td>
      <td><%= link.description %></td>
      <td><%= link_to 'Show', link_path(link) %></td>
      <td><%= link_to 'Edit', edit_link_path(link) %></td>
      <td><%= button_to 'Delete', link, :confirm => "Are you sure?", method: :delete %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<p>
  <%= link_to 'Create new link', new_link_path %>
</p>
