<h1>Show links</h1>
<div class="card text-center">
  <div class="card-header">
    Featured
  </div>

    <div class="card-body">
      <%= @link.link %>
      <h5 class="card-title"><%= @link.description %></h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <%= link_to 'Show', link_path(@link), class: "btn btn-primary" %>
      <%= link_to 'Edit',edit_link_path(@link), class: "btn btn-primary" %>
      <%= button_to 'Delete', @link, :confirm => "Are you sure?", method: :delete , class: "btn btn-primary" %>
    </div>
    <div class="card-footer text-muted"><%= time_ago_in_words(@link.created_at) %> ago</div>
</div>
<%= link_to 'Listing links', links_path, class: "btn btn-primary"%>