<h1>New category creation</h1>

<%= render 'shared/errors', obj: @category %>
<% if @category.errors.any? %>
  <h2>Preventing errors</h2>
  <ul>
    <% @category.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with  scope: :category, url: categories_path, local: true do |f|%>
  <p>
      <%= f.label :name %></br>
    <%= f.text_field :name %>
  </p>
  <p><%=f.submit %></p>
<%end%>

<%= link_to 'Return to links list', links_path%>
