<!DOCTYPE html>
<html>
  <head>
    <title>Hi</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    </head>

  <body>

  <nav class="navbar navbar-expand-lg bg-light">
    <div id="logo" class="container-fluid">
      <a>Users&Links</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <% if logged_in? %>
              <li>
                <p><%= link_to current_user.username, user_path(current_user),  class: "nav-item"%> user</p>
               <p><%= "(Admin)" if current_user.admin? %> Profile</p>
              </li>
              <li>
              <%= button_to "Log out", logout_path, method: :delete,  class: "nav-item"%>
            </li>
            <li>
              <%= button_to "Delete profile", user_path(current_user), method: :delete,  class: "nav-item text-danger", data: {confirm: "deleted user"}%>
            </li>
            <li>
              <a><%= link_to "Users list", users_path, class: "nav-item" %></a>
            </li>
            <li>
              <a><%= link_to "Create link", new_link_path, class: "nav-item" %></a>
            </li>
          <% else %>
              <li class="nav-item">
                <a ><%= link_to "Log In", login_path, class: "nav-item" %></a>
              </li>
              <li class="nav-item">
                <a ><%= link_to "Sign Up", signup_path, class: "nav-item" %></a>
              </li>
          <% end %>
          <li class="nav-item">
            <a class="nav-link"><%= link_to "Home", root_path, class: "nav-item" %></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <%= render 'layouts/messages' %>
  <%= yield %>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
  </body>
</html>
